html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F7F1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    width: 100%;
    height: 100px;
    background-color: #233026;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 40px;
    box-sizing: border-box;
}

.logo {
    height: 100px;
    cursor: pointer;
}

.login {
    height: 48px;
    width: 220px;   
    background-color: #6fbf73;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
    color: #F2F7F1;
    font-weight: bold;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
}

.search-div{
    position: relative;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    height: 50px;
    width: 100%;
    background-color: #365C45;
    color:#A8D5A2;
    border-radius: 15px;

    border: none;
    padding: 0 60px 0 20px;

    box-sizing: border-box;
    font-size: 16px;

}

.search::placeholder {
    color:#A8D5A2
}

.search:focus {
    outline: 2px solid #E9C46A;
}

.lupa {
    height: 35px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.info {
    margin-left: auto;
    margin-right: 200px;
    color: #E9C46A;
}

.info:hover {
    cursor: pointer;
}

footer {
    background-color: #233026;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.direitos {
    color: #6C8893;
    font-weight: bold;
    margin: 0;
}