body, main {
    background-color: #365c45;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    color: #A8D5A2;
    text-align: center;
    margin-top: 40px;
}

p {
    color: #F2F7F1;
    text-align: center;
    margin-bottom: 40px;
}